<div class="container">
  <button class="btn btn-success" ng-click="exampleSchedulerCtrl.employeeGrid()" style="margin-bottom:1em;">agGrid w/ subjectItems.dto.employee</button>
<button class="btn btn-warning" ng-click="exampleSchedulerCtrl.getInParallel()" style="margin-bottom:1em;">API call in parallel</button>
  <div ng-if="gridOptions" ag-grid="gridOptions" class="ag-dark" style="height: 100%;"></div>
</div>

<div class="well" ng-if="parallel">
  <b>subjectItems:</b>
  {{exampleSchedulerCtrl.subjectItems}}
  <b>genieColumnData:</b>
  {{exampleSchedulerCtrl.genieColumnData}}
  <b>visibleEntities:</b>
  {{exampleSchedulerCtrl.visibleEntities}}
</div>
